ol,p,h1,h2,h3,h4,h5,ul,dd,dt,ol{padding:0px;margin:0px;list-style:none}
html{-webkit-text-size-adjust:none;height: 100%;}
body{width:100%;margin:0;padding:0;position: relative;background: #ffffff;height: 100%;}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    &:hover,&:active{text-decoration:none;}
}
*{
    border:0;margin:0;padding:0;box-sizing: border-box;
    font-size: 14px;
    font-family: 'PingFang SC', tahoma, arial, 'helvetica neue', 'hiragino sans gb', 'microsoft yahei', sans-serif;
}